<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/newblog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    <input name="name" 
    type="text" 
    class="feedback-input" 
    placeholder="Name" 
    autocapitalize="off" 
    value = "<%=blog.name %>""
    />   
  
    <input name="title" 
    type="text" 
    class="feedback-input" 
     value= "<%=blog.title %>"
    />
  
    <textarea name="summary" 
    class="feedback-input summary" 
    
    
     value = 
  ><%=blog.summary %></textarea>
  
    <textarea name="article" 
    class="feedback-input article" 
    
    value = 
    ><%=blog.article %></textarea>
  
    
    <label id = "checkbox">
      Is this article educational?
      <input type="checkbox" name="educational" <%= blog.educational ? "checked" : "" %>>
    </label>
    
    <input type="submit" value="Edit"/>

    
  </form>
      
</body>
</html>

