<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Our blogs</title>
    
</head>
<nav>
  <div class="nav">
    <ul>
      <li><a href="/" class="nav-link">HOME</a></li>
      <li><a href="/blogs/new" class="nav-link">CREATE A BLOG</a></li>
      <li><a href="/profiles" class="nav-link">CONTRIBUTORS</a></li>
      
    </ul>
  </div>
    
</nav>

<body>
 
  <main>
  <% if (blogs.length) { %>
  <% blogs.forEach(blog => { %>
    
    <div class = "blog-post">
        <div class = "blog-post-img">
          <% if (  blog.category  === "Frontend Development"){ %>
            <img src="/images/frontend.jpg" alt="frontend development image">
          
          <% } else if (  blog.category  === "Backend Development") { %>
            <img src="/images/backend.jpg" alt="backend development image">
          
          <% } else if ( blog.category  === "UI/UX Design") { %>
            <img src="/images/design.jpg" alt="ui/ux design">
            
          <% } else if ( blog.category  === "Job search"){ %>
            <img src="/images/jobsearch.jpg" alt="job search image">
          <% } else { %>
            <img src="/images/general.jpg" alt="an image about life">
          <% } %>
          
          
        </div>
        <div class = "blog-post-info">
          <div class = "blog-post-title">
            <h2> <%= blog.title %> </h2>
          </div>
          
          <div class = "blog-post-date">
           
            <span>
              
              <%= blog.createdAt.toString().slice(0, 16) %> </span>
            <h4 id = "name">By <%= blog.name %></h1>
          </div>
          <div class = "blog-post-summary">
            <p> <%= blog.summary %> </p>
          </div>
          <div class = "blog-post-read-more">
            <a href = "/blogs/<%= blog._id %>">Read More </a>
          </div>
        </div>
        
        
        </div>
        <%  }); %>
        <% } else { %>
          <div class="noblogs">
            <h1>There are no blogs yet</h1>
            <h2>Try creating one!</h2>
           <a  id = "bloglink" href="/blogs/new"> Create a Blog</a>
          </div>
        <% } %> 
      </main>
</body>
</html> 



