<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/stylesheets/showblog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<!-- CSS only -->
</head>
<nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Rise'N'Blog</label>
      <ul>
       <li><a href="/">Home</a></li>
          
          <li><a href="/blogs/new">Create a Blog</a></li>
          <li><a href="/profiles">Contributors</a></li>
          
      </ul>
    </nav>
<body>
  
     
      
     
      <!-- old code up -->

<div class="wrapper">
  
  <div class="container">
  
    </div>
    <div class="blog-title"> 
      <h2> <%= blog.title %></h2>
      <div class="author">
        <h4 class = "name"><%= blog.owner.name %> </h4>
         <h6 date = "name"><%= blog.createdAt.toString().slice(0, 16) %> </h6>  
      </div>
       <div class="blog-tags">
      <ul>
        <li>Css</li>
        <li>Web Design</li>
        <li>Codepen</li>
       
        
      </ul>
    </div>
      <div class="blog-cover"> 
       
         <% if (  blog.category  === "Frontend Development"){ %>
          <img src="/images/frontend.jpg" alt="frontend development image">
        
        <% } else if (  blog.category  === "Backend Development") { %>
          <img src="/images/backend.jpg" alt="backend development image">
        
        <% } else if ( blog.category  === "UI/UX Design") { %>
          <img src="/images/design.jpg" alt="ui/ux design">
          
        <% } else if ( blog.category  === "Job search"){ %>
          <img src="/images/jobsearch.jpg" alt="job search image">
        <% } else { %>
          <img src="/images/general.jpg" alt="an image about life">
        <% } %>

        
      </div>
    </div>
    <div class = "article"> 
      <div class = "article-summary"> <%= blog.summary %></div>
      <%= blog.article %>
      
    </div>
  </div>

  
  </div>













      <!-- before user actions -->

      <div id = "user-actions">
	<% if (user) { %>
    <form action="/blogs/<%= blog._id %>/flip-educational?_method=PUT" method="POST">
      <div>
        <button type="submit" class="btn ">
            Make blog <%= blog.educational ? 'not educational' : 'educational' %>
          </button>
        </div>
         </form> 
       <% } %>

       <% if (blog.owner.equals(user?.profile._id)){ %>
        <p>
          <div>
           <button class="btn"> <a id = "edit" href="/blogs/<%= blog._id %>/edit"> Edit Blog</a> </button>
          </div>
        </p>

        <p>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
              <div>
              <button type="submit" class="btn btn-red ">
                Delete Blog
              </button>
            </div>
            </form>
          </p>
     <%  } %>
    </div>
      
      
   
  </body>
</html>

