<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/portfolio.css">

</head>
<body>
    <div class="container">
        <h1 class = "username">
            <% if (profile.brands) { %>
                <%= profile.brands.name %>
                <% } else {%>

            <%= profile.name %>
            <% } %>
        </h1>
        <h2>
            <% if (profile.brands) { %>
                <%= profile.brands.job %>
                <% } else {%>

            Software Engineer
            <% } %>

        </h2>
        <div class="image">
            <img class = "profile" src="<%= profile.avatar %>" alt="<%= profile.name %>'s' photograph">
        </div>
        
        <% if (profile.brands) { %>
            
        <p> <%= profile.brands.brandstatement %> </p>
        <% } else {%>
                        <p><span id = "name"><%= `${profile.name}`%> </span>  did not create a brand statement like Jen told them to. Either that or they just didn't check out my site at all. I am not sure which is worse. With that in mind, here is one I wrote for them: <br>
                            <p> <span id = "name"><%= `${profile.name}`%> </span> is a software engineer with skills in both the front-end and back-end of web applications. Their experience has provided them with the innovative and technical skills neccessary to successfuly provide any company with multifaced technical solutions across a wide range of software platforms. There is no one better than <span id = "name"><%= `${profile.name}`%> </span> to work, learn, and grow with when it comes to software engineering. <br>
                                - From a fellow engineer that sees their potential.
                            </p>
                         </p>

            <% } %>
        <a href="#" class = "btn">Get In Touch</a>
    </div>
    
    

<!-- Skill display -->

<div class = "skills">

   <% if (profile.skills.length){ %>
 <h2>
        <%= isSelf ? "YOUR " : `${profile.name}` %> <br>
        SKILLS
    </h2>
    <% profile.skills.forEach(skill => { %>
        <ul>

           
            <li> <%= skill.skillname %></li>
            <form action="/profiles/skills/<%= skill._id %>?_method=DELETE"
                method="POST"
                
                >
                <% if (isSelf) { %>
                <button type ="submit" class="btn btn-light" id = "delete"> DELETE</button>
                <% } %>
            </form>
            
        </ul>
       
        <% }) %>

        <% }  else {%>
            <h2>
                <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any skills.
            </h2>
            <% } %>
        </div>

        <!-- Add skill and brand statement -->
        
        <div class = "addskill">
            <% if (isSelf) { %>
                <h2>Add a skill!</h2>
        
                <form action="/profiles/<%= profile._id %>/skills" method="POST">
                    <label>
                        
                        <input type="text" name="skillname" placeholder="skill" class = "button">
                    </label>
        
                    <button type = "submit" class = "button">Add a skill!</button>
                </form>
           <% } %>
        </div>

        <% if (isSelf) { %>
            <div class = "brandstatement">
            <h2>Add a brand statement!</h2>

            <form action="/profiles/<%= profile._id %>/brands" method="POST">
            
  
                <div class="column">
                  <label>Your Name</label>
                  <input type="text" id="your_name" name="name"/>
                  
                  <label>Your Specialty</label>
                  <input type="job" id="your_job" name="job" />
                  
                  <label>Brand Statement</label>
                  <textarea id="brand" name="brandstatement" ></textarea>
                  
              </div>
               
            
                <button class = "button" type = "submit">ADD MY BRAND</button>
              
              </form>
              

        <% } %>
    </div>
</body>
</html>