<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/newtip.css">
</head>
<body>
  <form action="/tips/<%= tip._id %>?_method=PUT" method="POST">
    <input name="name" 
    type="text" 
    class="feedback-input" 
    placeholder="Name" 
    autocapitalize="off" 
    value = "<%=tip.name %>""
    />   
  
    <input name="title" 
    type="text" 
    class="feedback-input" 
     value= "<%=tip.title %>"
    />
  
    <textarea name="summary" 
    class="feedback-input summary" 
    
    
     value = 
  ><%=tip.summary %></textarea>
  
    <textarea name="article" 
    class="feedback-input article" 
    
    value = 
    ><%=tip.article %></textarea>
  
    
    <label id = "checkbox">
      Is this article educational?
      <input type="checkbox" name="educational" <%= tip.educational ? "checked" : "" %>>
    </label>
    
    <input type="submit" value="Edit"/>

    
  </form>
      
</body>
</html>

