<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <p>From the brilliant mind of <%= tip.owner.name %></p>
        <h1><%= tip.detail %> 🌮</h1>
  <h2>This tip is <%= tip.helpful ? 'Helpful!' : 'Not Helpful 😫' %></h2>
	<% if (user) { %>
    <form action="/tips/<%= tip._id %>/flip-helpful?_method=PUT" method="POST">
        <button type="submit">
            Make tip <%= tip.helpful ? 'not helpful' : 'helpful' %>
          </button>
         </form>
       <% } %>
       
    </section>
</body>
</html>